<ul>
  {{#each burgers}}
  {{#unless devoured}}
  {{> cats/cat-block sleep=true}}
  {{/unless}}
  {{/each}}
</ul>

<h2>Cats that are sleepy!</h2>

<ul>
  {{#each cats}}
  {{#if devoured}}
  {{> cats/cat-block sleep=false}}
  {{/if}}
  {{/each}}
</ul>
