body {
    font-family: 'Helvitica', sans-serif;
    background-color: rgb(240, 176, 0);
}

.title {
    font-family: 'Sigmar One', cursive;
    font-size: 60px;
    color: #000000;
    padding: 20px;
}

.burger-title {
    font-weight: bolder;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 20px;
}

#list-devoured {
    margin: 10px;
    height: 300px;
    overflow: auto;
    background-color: #fc0000;
}

#list-burgers {
    margin: 10px;
    height: 300px;
    overflow: auto;
    background-color: #008300;
}

.container {
    padding: 10px;
}

.available-burgers {
    overflow: hidden;
    font-size: 20px;
    margin: 8px;
    border: 2px solid #ff0000;
    padding: 3px;
}

.devoured-burgers {
    font-size: 20px;
    margin: 8px;
    border: 2px solid #008300;
    padding: 3px;
}

#burger-ready {
    float: right;
    border-radius: 8px;
    -webkit-transition-duration: 0.2s; 
    transition-duration: 0.2s;
    background-color: #ff0000;
}

#burger-ready:hover {
    color: #000000;
    border: 3px solid #ff0000;
    background-color: rgb(255, 255, 255);
}

#add-burger{
    margin: 0 auto; 
    width: 250px;
    margin-bottom: 50px;
}

#enter-burger {
    font-size: 25px;
    width: 200px;
    height: 50px;
    align-content: center;
    color: #000000;
    background-color: #ffffff;   
}

#submit-burger {
    font-size: 20px;
    height: 40px;
    margin: 0 auto; 
    width: 200px;
    padding: 10px;
    color: #000000;
    background-color: #0000ff;
}

#submit-burger:hover {
    border: 3px solid red;
    color: #000000;
    background-color:#ffffff;
}

#gif {
    width: 300px;
    height: auto;
}